/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Global Fluid Media */
img {
    max-width: 100%;
    height: auto;
}

/* Profile Image Base Styling */
.profile-photo {
    float: right;
    width: 240px;
    height: auto;
    padding: 0 0 1.5em 2em;
}

/* All Mobile Sizes (Screens 767px and below) */
@media only screen and (max-width: 767px) {
    /* Stack and center all images and profile photos on mobile */
    img, .profile-photo {
        float: none;
        display: block;
        margin: 0 auto 1.5rem auto;
    }

    .profile-photo {
        padding: 0;
    }
}

/* Custom Global Site Styles */
body {
    font-family: Georgia, serif;
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
a:link {
    color: #000099;
}
a:visited {
    color: #336699;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: #000099;
}

HR {
    display: none;
}

DIV.hr {
    margin: 2.0em 0;
    height: 0.4em;
    background-color: #000099;
    clear: both;
}