/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Global Fluid Media */
img {
    max-width: 100%;
    height: auto;
}

/* Profile Image Base Styling */
.profile-photo {
    float: right;
    width: 240px;
    height: auto;
    padding: 0 0 1.5em 2em;
}

/* All Mobile Sizes (Screens 767px and below) */
@media only screen and (max-width: 767px) {
    /* Stack and center all images and profile photos on mobile */
    img, .profile-photo {
        float: none;
        display: block;
        margin: 0 auto 1.5rem auto;
    }

    .profile-photo {
        padding: 0;
    }
}